<form class="task-form" [formGroup]="formTask" (ngSubmit)="createTask()">
  <div class="form-group">
    <label for="taskName">Nombre de la tarea:</label>
    <input
      type="text"
      id="taskName"
      name="taskName"
      formControlName="taskName"
    />
    <div
      *ngIf="
        formTask.get('taskName')?.hasError('required') &&
        formTask.get('taskName')?.touched
      "
      class="warning"
    >
      Este campo es requerido.
    </div>
  </div>

  <div class="form-group">
    <label for="deadline">Fecha límite:</label>
    <input
      type="date"
      id="deadline"
      name="deadline"
      formControlName="deadline"
    />
    <div
      *ngIf="
        formTask.get('taskName')?.hasError('required') &&
        formTask.get('taskName')?.touched
      "
      class="warning"
    >
      Este campo es requerido.
    </div>
  </div>
  <button type="submit" [disabled]="!formTask.valid">Agregar Tarea</button>
</form>
