<div class="task-card">
  <h2 class="task-title">
    <span>{{ task.id + 1 }}. </span>{{ task.name }} - {{ task.dueDate |
    date:'yyyy-MM-dd' }}
  </h2>
  <!-- <p class="task-status">
    Estado: {{ task.isCompleted ? "Completada" : "Pendiente" }}
  </p> -->
  <h3>
    Personas asociadas ({{task.people.length}})
    <button class="add-person-btn" (click)="showPersonForm = !showPersonForm">
      Asoc. persona
    </button>
  </h3>

  <div *ngIf="showPersonForm" class="person-form">
    <form [formGroup]="personForm" (ngSubmit)="addPerson()">
      <label>Nombre Completo:</label>
      <input formControlName="fullName" class="form-input" />
      <label>Edad:</label>
      <input type="number" formControlName="age" class="form-input" />

      <button type="submit" class="submit-btn">Agregar Persona</button>
    </form>
  </div>

  <ul *ngIf="task.people.length > 0" class="person-list">
    <li *ngFor="let person of task.people; let i = index" class="person-item">
      <h4>
        {{ person.fullName }} ({{ person.age }} años)
        <button class="delete-person-btn" (click)="deletePerson(task.id, i)">
          Elim. persona
        </button>
      </h4>

      <ul *ngIf="person.skills.length > 0" class="skill-list">
        <li
          *ngFor="let skill of person.skills; let id = index"
          class="skill-item"
        >
          -{{ skill.name }}
          <button
            class="delete-skill-btn"
            (click)="deleteSkill(task.id, i, id)"
          >
            ‒
          </button>
        </li>
      </ul>
      <button class="add-skill-btn" (click)="showSkillForm(i)">
        Agregar hab
      </button>
    </li>
  </ul>

  <div *ngIf="selectedPersonIndex !== null" class="skill-form">
    <form [formGroup]="skillForm" (ngSubmit)="addSkill()">
      <label>Habilidad:</label>
      <input formControlName="name" class="form-input" />

      <button type="submit" class="submit-btn">Agregar Habilidad</button>
    </form>
  </div>
</div>
